body {
  align-items: center;
  background-color: #8cfddf;
  display: flex;
  height: 100vh;
  margin: 0;
}

svg {
  margin: 0 auto;
  stroke: #fc2876;
}

#loop0 { stroke-dasharray: 0 150 150; }
#loop1 { stroke-dasharray: 0 330 54 20 0; }
#loop2 { stroke-dasharray: 0 370 86 20 122 20 86 20 86; }
#loop3 { stroke-dasharray: 0 410 190 20 300; }
#loop4 { stroke-dasharray: 0 445 40 20 330 20 0; }
#loop5 { stroke-dasharray: 0 470 160 20 90 20 100; }
#loop6 { stroke-dasharray: 0 485 80 20 300 20 0; }
#loop7 { stroke-dasharray: 0 490 220 20 400 0; }
#loop8 { stroke-dasharray: 0 425 110 20 180 20 0; }

/*
#loop0 {
  animation: loop0Anim var(--animDef);
  stroke-dasharray: 0 150 150;
}

@keyframes loop0Anim {
  0% { stroke-dashoffset: 0; opacity: 0; }
  1% { stroke-dashoffset: 0; opacity: 0; }
  2% { opacity: 1; }
  26% { stroke-dashoffset: 150; }
  50% { stroke-dashoffset: 150; opacity: 1; }
  74% { opacity: 1; }
  75%, 100% { stroke-dashoffset: 0; opacity: 0; }
}

#loop1 {
  animation: loop1Anim var(--animDef);
  stroke-dasharray: 0 330 54 20 0;
}

@keyframes loop1Anim {
  0% { stroke-dashoffset: 0; opacity: 0; }
  2% { stroke-dashoffset: 0; opacity: 0; }
  3% { opacity: 1; }
  27% { stroke-dashoffset: 330; }
  50% { stroke-dashoffset: 330; opacity: 1; }
  74% { opacity: 1; }
  76%, 100% { stroke-dashoffset: 0; opacity: 0; }
}

#loop2 {
  animation: loop2Anim var(--animDef);
  stroke-dasharray: 0 370 86 20 122 20 86 20 86;
}

@keyframes loop2Anim {
  0% { stroke-dashoffset: 0; opacity: 0; }
  3% { stroke-dashoffset: 0; opacity: 0; }
  4% { opacity: 1; }
  28% { stroke-dashoffset: 370; }
  50% { stroke-dashoffset: 370; opacity: 1; }
  74% { opacity: 1; }
  77%, 100% { stroke-dashoffset: 0; opacity: 0; }
}

#loop3 {
  animation: loop3Anim var(--animDef);
  stroke-dasharray: 0 410 190 20 300;
}

@keyframes loop3Anim {
  0% { stroke-dashoffset: 0; opacity: 0; }
  4% { stroke-dashoffset: 0; opacity: 0; }
  5% { opacity: 1; }
  29% { stroke-dashoffset: 410; }
  50% { stroke-dashoffset: 410; opacity: 1; }
  74% { opacity: 1; }
  78%, 100% { stroke-dashoffset: 0; opacity: 0; }
}

#loop4 {
  animation: loop4Anim var(--animDef);
  stroke-dasharray: 0 445 40 20 330 20 0;
}

@keyframes loop4Anim {
  0% { stroke-dashoffset: 0; opacity: 0; }
  5% { stroke-dashoffset: 0; opacity: 0; }
  6% { opacity: 1; }
  30% { stroke-dashoffset: 445; }
  50% { stroke-dashoffset: 445; opacity: 1; }
  74% { opacity: 1; }
  79%, 100% { stroke-dashoffset: 0; opacity: 0; }
}

#loop5 {
  animation: loop5Anim var(--animDef);
  stroke-dasharray: 0 470 160 20 90 20 100;
}

@keyframes loop5Anim {
  0% { stroke-dashoffset: 0; opacity: 0; }
  6% { stroke-dashoffset: 0; opacity: 0; }
  7% { opacity: 1; }
  31% { stroke-dashoffset: 470; }
  50% { stroke-dashoffset: 470; opacity: 1; }
  74% { opacity: 1; }
  80%, 100% { stroke-dashoffset: 0; opacity: 0; }
}

#loop6 {
  animation: loop6Anim var(--animDef);
  stroke-dasharray: 0 485 80 20 300 20 0;
}

@keyframes loop6Anim {
  0% { stroke-dashoffset: 0; opacity: 0; }
  7% { stroke-dashoffset: 0; opacity: 0; }
  8% { opacity: 1; }
  32% { stroke-dashoffset: 485; }
  50% { stroke-dashoffset: 485; opacity: 1; }
  74% { opacity: 1; }
  81%, 100% { stroke-dashoffset: 0; opacity: 0; }
}

#loop7 {
  animation: loop7Anim var(--animDef);
  stroke-dasharray: 0 490 220 20 400 0;
}

@keyframes loop7Anim {
  0% { stroke-dashoffset: 0; opacity: 0; }
  8% { stroke-dashoffset: 0; opacity: 0; }
  9% { opacity: 1; }
  33% { stroke-dashoffset: 490; }
  50% { stroke-dashoffset: 490; opacity: 1; }
  74% { opacity: 1; }
  82%, 100% { stroke-dashoffset: 0; opacity: 0; }
}

#loop8 {
  animation: loop8Anim var(--animDef);
  stroke-dasharray: 0 425 110 20 180 20 0;
}

@keyframes loop8Anim {
  0% { stroke-dashoffset: 0; opacity: 0; }
  9% { stroke-dashoffset: 0; opacity: 0; }
  10% { opacity: 1; }
  34% { stroke-dashoffset: 425; }
  50% { stroke-dashoffset: 425; opacity: 1; }
  74% { opacity: 1; }
  83%, 100% { stroke-dashoffset: 0; opacity: 0; }
}

:root {
  --animDef: 4s cubic-bezier(0.86, 0, 0.07, 1) infinite;
}*/
